
:root {
    --primaryBorder: rgb(147, 188, 250);
    --secondaryBorder: rgb(118, 118, 235);

    --bg: rgb(182, 182, 249);
    --bgtrans: rgba(212, 212, 235, 0.921);
    --secondbg: rgb(40, 40, 134);
    --secondbgtrans: rgba(40, 40, 134, 0.2);

    --maintext: rgb(119, 140, 160);
}

body {
    background-color: var(--bg);
    padding: 0px;
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;

    background-image: url("/portfolio/css/images/Houseboat%20night.png");
    background-size: cover;
    background-attachment: fixed;
}

p {
    margin-bottom: 1%
}

header {
    position: fixed;
    top: 0;

    color: var(--maintext);
    display: flex;
    justify-content: center;

    background-color: var(--secondbg);
    width: 100%;
    margin: auto;
    padding: 15px;

    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: var(--primaryBorder)
}

.headerSection {
    font-size: 30px;
    text-align: center;
    padding-right: 5%;
    padding-left: 5%;

    border-right-width: 1px;
    border-right-style: dotted;
    border-right-color: var(--secondaryBorder);

    border-left-width: 1px;
    border-left-style: dotted;
    border-left-color: var(--secondaryBorder);
}

.headerSection:hover {
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
}

/* ----------------------------------------- */
/* ---------------- CONTENT ---------------- */

.section {
    background-color: var(--secondbgtrans);
    color: var(--maintext);

    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    margin-bottom: 25%;
    width: 50%;
    height: fit-content;

    padding-right: 30px;
    padding-left: 30px;

    border: 5px solid var(--primaryBorder);
    border-radius: 30px;
    box-shadow: 0 0 20px var(--secondaryBorder);
}

.multiSection { /* For displaying more than one section side-by-side. */
    display: flex;
    align-items: center;
}

.wide {
    width: 60%;
}
.thin {
    width: 40%;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.details {
    grid-template-columns: repeat(2, 1fr);
}

@media(max-width: 1780px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }

    .details {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(max-width: 1200px) {
    .projects {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* ---------------- PROJECTS ---------------- */

.project {
    /* Setup Grid so that 1 is title, 2 is desc, and 3 is image. */
    display: grid;
    grid: auto-flow / 1fr 1fr;

    background-color: rgba(0,0,0,0); /* Transparent */
    color: var(--maintext);

    margin: 2%;
    margin-top: 0%;
    margin-bottom: 8%;

    padding: 15px;

    border: 3px solid var(--primaryBorder);
    border-radius: 30px;

    box-shadow: 0 0 7px var(--primaryBorder);
}

.project:hover {
    background-color: rgba(174, 174, 174, 0.275)
}

.projectTitle {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 2%;
}

.projectDesc {
    grid-row: 2 / 2
}

.projectImg {
    grid-column: 2 / 2;
    grid-row: 1 / span 2;

    border: 2px solid var(--secondaryBorder);
    border-radius: 10px;
    
    background-image: url("/Portfolio/css/images/Project-Placeholder.png");
    background-size: cover;
    aspect-ratio: 1 / 1;
}

/* ---------------- FORMS ---------------- */

form {
    font-size: 20px;
}

#formtext {
    margin-top: 1%;
}

.error {
    font-size: 13px;
}

input {
    width: 300px;
    font-size: 17px;

    border: 3px solid var(--primaryBorder);
    border-radius: 10px;

    padding-left: 5px;
    padding-right: 5px;

    background-color: var(--bgtrans);
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px var(--secondaryBorder);
}

select {
    width: fit-content;
    font-size: 17px;

    border: 3px solid var(--primaryBorder);
    border-radius: 10px;
    
    padding-left: 5px;
    padding-right: 5px;

    background-color: var(--bgtrans);
}

select:focus {
    outline: none;
    box-shadow: 0 0 10px var(--secondaryBorder);
}

#topic {
    font-size: 25px;
    width: 95%;
}

#message {
    width: 95%;
    font-size: 17px;

    height: 200px;
    text-align: left;
    vertical-align: top;

    border: 3px solid var(--primaryBorder);
    border-radius: 10px;

    padding-left: 5px;
    padding-right: 5px;

    margin-bottom: 1%;

    background-color: var(--bgtrans);
}

#message:focus {
    outline: none;
    box-shadow: 0 0 10px var(--secondaryBorder);
}

#fineprint {
    font-size: 13px;
    letter-spacing: 1px;
}

#submit {
    justify-self: center;
    width: 15%;
    height: 3%;
    font-size: 17px;

    border: 3px solid var(--primaryBorder);
    border-radius: 10px;

    padding-left: 5px;
    padding-right: 5px;

    margin-bottom: 2%;

    background-color: var(--bgtrans);
}

#submit:hover {
    box-shadow: 0 0 10px var(--secondaryBorder);
}


/* ---------------- FOOTER ---------------- */

footer {
    text-align: center;
    font-size: 15px;
    color: rgb(38, 76, 166);

    position: fixed;
    bottom: 0;
    width: 100%;
    margin: auto;
    padding: 5px;

    background: linear-gradient(rgba(0,0,0,0) 10%, var(--secondbg) 90%)
}
