
:root {
    --primaryBorder: rgb(147, 188, 250);
    --secondaryBorder: rgb(118, 118, 235);

    --bg: rgb(182, 182, 249);
    --secondbg: rgb(40, 40, 134);
    --secondbgtrans: rgba(40, 40, 134, 0.2);

    --maintext: rgb(119, 140, 160);
}

body {
    background-color: var(--bg);
    padding: 0px;
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;

    background-image: url(""/images/Houseboat\ night.png"");
    background-size: cover;
    background-attachment: fixed;
}

.header {
    position: fixed;
    top: 0;

    color: var(--maintext);
    display: flex;
    justify-content: center;

    background-color: var(--secondbg);
    width: 100%;
    margin: auto;
    padding: 15px;

    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: var(--primaryBorder)
}

.headerSection {
    font-size: 30px;
    text-align: center;
    padding-right: 5%;
    padding-left: 5%;

    border-right-width: 1px;
    border-right-style: dotted;
    border-right-color: var(--secondaryBorder);

    border-left-width: 1px;
    border-left-style: dotted;
    border-left-color: var(--secondaryBorder);
}

.headerSection:hover {
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
}


.section {
    background-color: var(--secondbgtrans);
    color: var(--maintext);

    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    margin-bottom: 20%;
    width: 60%;

    padding-right: 30px;
    padding-left: 30px;

    border: 5px solid var(--primaryBorder);
    border-radius: 30px;
}


.footer {
    text-align: center;
    font-size: 15px;
    color: rgb(38, 76, 166);

    position: fixed;
    bottom: 0;
    width: 100%;
    margin: auto;
    padding: 5px;

    background: linear-gradient(rgba(0,0,0,0) 10%, var(--secondbg) 90%)
}
